<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Chat</title>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

</head>

<body>
    <form>
        <!-- <label for="username">Name: </label> -->
        <!-- <input type="text" name=”username” id="username"> -->

        <!-- <button id="toggle_chat" disabled>Toggle chat</button> -->
    </form>
    <div id="root" class="contentMain">
        <div id="container" class="container">
            <div class="row justify-content-center">
                <div class="col-lg-2 col-md-3 col-8 comMyRes">
                    <div class="containerMyResource">
                        <div id="local" class="participant">
                            <div id="local-media">
                                <div class="mutedVideo d-none-cus">
                                    <!-- <i class="fas fa-user"></i> -->
                                </div>
                            </div>
                            <!-- <button id="button-preview">Preview My Camera</button> -->
                            <!-- <select id="video-devices"></select>
                            <select id="audio-devices"></select> -->
                            <div class="label labelOfMyResource">Me</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-9 col-12 conOtherRes">
                    <div class="containerOfparticipant" id="containerOfparticipantAppend"></div>
                </div>
            </div>
            <!-- more participants will be added dynamically here -->

        </div>
    </div>
    <p id="count">Disconnected.</p>
    <div id="conOfDevicesContreoll">
        <button id="join_leave" class="disconnectedBtn screenBtnLineHeight">Join call</button>
        <button id="share_screen" class="shareScreen screenBtnLineHeight" disabled>Share screen</button>
        <button id="settingBtn" class="settingBtn btnIconsStyle d-none-cus"  data-toggle="modal" data-target="#modalSetting">
            <i class="fas fa-cog"></i>
        </button>
    </div>

    <div class="modal fade" id="modalSetting">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Setting Video chat</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                <div class="modal-body">
                    <div class="ConSetting">
                        <div class="form-group">
                            <label for="video-devices">Video Devices</label>
                            <select class="form-control" id="video-devices"></select>
                          </div>
                          <div class="form-group">
                            <label for="audio-devices">Audio Devices</label>
                            <select id="audio-devices" class="form-control"></select>
                          </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modalAlert modal fade" id="modalAlert">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="conAlert">
                        <div class="iconCon">
                            <i class="fas fa-exclamation-circle"></i>
                        </div>
                        <div class="conText">
                            you cannot join room Please connect the administrator.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://media.twiliocdn.com/sdk/js/video/releases/2.7.2/twilio-video.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/conversations/releases/1.0.0/twilio-conversations.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>
</body>

</html>